@import 'reset.css';
@import 'fonts.css';

:root {
    --header-background: #111;

    --header-navitem-hover: #303030;
    --header-navitem-underline: #0095B0;

    --primary-button-background: #00BCDC;
    --primary-button-hover-background: #5AC3DF;
    --primary-button-color: #121212;

    --secondary-button-background: #252525;
    --secondary-button-color: #fff;
}

/**
    Primary Configuration.
 */

html, body {
    font-family: "FF Mark", Arial, Helvetica, sans-serif;
    letter-spacing: .08em;
    margin-top: 80px;
}

a {
    text-decoration: none;
    color: inherit;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Beaufort', Arial, Helvetica, sans-serif;
    font-weight: normal;
    margin: 0;
}

button {
    display: grid;
    place-items: center;
    cursor: pointer;
    text-transform: uppercase;
}

/**
    Components.
 */

.plain-button {
    display: grid;
    place-items: center;
    background-color: var(--secondary-button-background);
    color: var(--secondary-button-color);
    padding: 0 1em;
    font-weight: bold;
    border-radius: .5em;
    font-size: 0.8125rem;
    height: 32px;
}

.plain-button--primary {
    background-color: var(--primary-button-background);
    color: var(--primary-button-color);
    border-radius: 1em;
}

.plain-button--square {
    background-color: transparent;
    padding: 0;
    aspect-ratio: 1 / 1;
}
.plain-button--square:hover,
.plain-button--square:focus {
    background-color: var(--secondary-button-background);
}

.plain-button--circle {
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 0;
}

.outline-button {
    position: relative;
    box-sizing: border-box;
    /*height: 56px;*/
    font-family: "FF Mark", Arial, Helvetica, sans-serif;
    font-weight: bold;
    letter-spacing: 0.15em;
    font-size: 0.8125rem;
    padding: .5em;
    transition: background 1000ms;
}

.outline-button:hover p {
    background-color: var(--primary-button-hover-background);
}

.outline-button p {
    padding: 2rem 4rem;
    background-color: var(--primary-button-background);
    color: var(--primary-button-color);
    transition: background 300ms;
}

.outline-button canvas {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/**
    AppHeader.
 */

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 36px;
    color: white;
    background-color: var(--header-background);
    font-size: 0.8125rem;
    min-height: 80px;
}

.riotgames-menu {
    display: flex;
    align-items: center;
    gap: .3em;
    margin-right: 22px;
}
.riotgames-menu:hover svg {
    color: #EC0027;
}
.riotgames-menu__logo {
    color: white;
}
.riotgames-menu__arrow {
    color: #7E7E7E;
}

.league-logo {
    display: flex;
    min-height: 26px;
    margin-right: 20px;
}

.league-logo svg:first-child {
    display: block;
}
.league-logo svg:last-child {
    display: none;
}

@media screen and (max-width: 1025px) {
    .league-logo svg:first-child {
        display: none;
    }
    .league-logo svg:last-child {
        display: block;
    }

    header nav li {
        display: none;
    }
}

header nav {
    margin-right: auto;
}

header nav ul {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    gap: 4px;
    font-weight: bold;
    margin: 7px 0;
}

header nav li {
    position: relative;
    cursor: pointer;
    padding: .875rem 0;
}

header nav li p {
    display: flex;
    align-items: center;
    gap: .3rem;
    padding: 8px 1em;
    border-radius: .5em;
}
header nav li:hover p {
    background-color: var(--header-navitem-hover);
}

/* Nav item underline */
header nav li:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: .25rem;
    border-radius: 2rem;
    background-color: var(--header-navitem-underline);
    visibility: hidden;
}

header nav li:hover:after {
    visibility: visible;
}

/* Secondary Navigation */

.secondary-navigation {
    display: flex;
    place-items: center;
}

.sign-in {
    margin-left: .2em;
    margin-right: 1em;
}

.search-button {
    display: grid;
    place-items: center;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    padding: 8px 1em;
    height: auto;
}

.search-button svg {
    width: 22px;
    color: white;
}

/**
    Hero Section.
 */

.hero {
    padding: 0 3.75rem 3.75rem 3.75rem;
    height: 55vh;
    /*background: green;*/
}

.hero__blurred-video {
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    width: 100%;
    height: 55vh;
    object-fit: cover;
}

.hero-wrapper {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10rem 3.75rem;
    max-height: 31.25rem;
    /*overflow: hidden;*/
}

.hero-wrapper video {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-wrapper img {
    max-height: 16.5312rem;
}
